<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MybatisBuilder.project.settings">
    <option name="connectionInfoList">
      <list>
        <ConnectionInfo>
          <option name="database" value="netos.absorb.robot" />
          <option name="description" value="" />
          <option name="driverClass" value="" />
          <option name="driverLibrary" value="" />
          <option name="driverType" value="MySQL" />
          <option name="host" value="120.27.15.205" />
          <option name="id" value="9468fef396074a25b4bde233b6ee787a" />
          <option name="name" value="120.27.15.205" />
          <option name="port" value="3306" />
          <option name="url" value="" />
          <option name="userName" value="cj" />
        </ConnectionInfo>
      </list>
    </option>
    <option name="defaultParameters">
      <DefaultParameters>
        <option name="renameConfig">
          <Config>
            <option name="mapperTypePattern" value="" />
            <option name="exampleTypePattern" value="" />
            <option name="sqlFileNamePattern" value="" />
          </Config>
        </option>
        <option name="selectWithLockConfig">
          <SelectWithLockConfig>
            <option name="byPrimaryKeyWithLockOverride" value="" />
            <option name="byExampleWithLockOverride" value="" />
          </SelectWithLockConfig>
        </option>
      </DefaultParameters>
    </option>
    <option name="historyMap">
      <map>
        <entry key="JAVA_CLIENT_PACKAGE">
          <value>
            <list>
              <option value="cj.netos.qrcodeslice.mapper" />
              <option value="mapper" />
            </list>
          </value>
        </entry>
        <entry key="JAVA_MODEL_PACKAGE">
          <value>
            <list>
              <option value="cj.netos.qrcodeslice.model" />
              <option value="model" />
            </list>
          </value>
        </entry>
        <entry key="SQL_MAP_PACKAGE">
          <value>
            <list>
              <option value="cj.db.mappings" />
            </list>
          </value>
        </entry>
      </map>
    </option>
    <option name="lastGeneratorParamWrapper">
      <GeneratorParamWrapper>
        <option name="defaultTableConfigWrapper">
          <TableConfigurationWrapper>
            <option name="domainObjectRenamingRule">
              <DomainObjectRenamingRule>
                <option name="replaceString" value="" />
                <option name="searchString" value="" />
              </DomainObjectRenamingRule>
            </option>
            <option name="generatedKeyWrapper">
              <GeneratedKeyWrapper>
                <option name="column" value="" />
              </GeneratedKeyWrapper>
            </option>
          </TableConfigurationWrapper>
        </option>
        <option name="javaClientConfig">
          <JavaClientGeneratorConfiguration>
            <option name="configurationType" value="XMLMAPPER" />
            <option name="targetPackage" value="cj.netos.qrcodeslice.mapper" />
            <option name="targetProject" value="$PROJECT_DIR$/cj.netos.qrcodeslice.program/src" />
          </JavaClientGeneratorConfiguration>
        </option>
        <option name="javaModelConfig">
          <JavaModelGeneratorConfiguration>
            <option name="targetPackage" value="cj.netos.qrcodeslice.model" />
            <option name="targetProject" value="$PROJECT_DIR$/cj.netos.qrcodeslice.program/src" />
          </JavaModelGeneratorConfiguration>
        </option>
        <option name="sqlMapConfig">
          <SqlMapGeneratorConfiguration>
            <option name="targetPackage" value="cj.db.mappings" />
            <option name="targetProject" value="$PROJECT_DIR$/cj.netos.qrcodeslice.program/src" />
          </SqlMapGeneratorConfiguration>
        </option>
      </GeneratorParamWrapper>
    </option>
    <option name="tableInfoMap">
      <map>
        <entry key="netos.absorb.robot#absorber">
          <value>
            <TableInfo>
              <option name="database" value="netos.absorb.robot" />
              <option name="domainName" value="Absorber" />
              <option name="tableComment" value="洇取器&#10;可以是金证喷泉、店、文章等&#10;归纳为两类洇取器：&#10;1.地理洇取器，圆心和半径。范围内的动态收件人+固定的收件人；&#10;2.普通洇取器，只有固定的收件人；" />
              <option name="tableName" value="absorber" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.absorb.robot#qrcode_slice">
          <value>
            <TableInfo>
              <option name="database" value="netos.absorb.robot" />
              <option name="domainName" value="QrcodeSlice" />
              <option name="tableComment" value="码片" />
              <option name="tableName" value="qrcode_slice" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.absorb.robot#recipients">
          <value>
            <TableInfo>
              <option name="database" value="netos.absorb.robot" />
              <option name="domainName" value="Recipients" />
              <option name="tableComment" value="固定收件人&#10;对于动态的收件人也应按此信息生成，洇取器只认识固定收件人属性" />
              <option name="tableName" value="recipients" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.absorb.robot#recipients_balance">
          <value>
            <TableInfo>
              <option name="database" value="netos.absorb.robot" />
              <option name="domainName" value="RecipientsBalance" />
              <option name="tableComment" value="洇取人余额。当recipients表的encourage_code=balance时为余额洇取器，本表才有对应记录&#10;余额的充值记录与其它洇取人一样在recipients_record中，提取记录也用该表&#10;" />
              <option name="tableName" value="recipients_balance" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.absorb.robot#recipients_balance_bill">
          <value>
            <TableInfo>
              <option name="database" value="netos.absorb.robot" />
              <option name="domainName" value="RecipientsBalanceBill" />
              <option name="tableComment" value="洇取者余额转出账单" />
              <option name="tableName" value="recipients_balance_bill" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.absorb.robot#recipients_record">
          <value>
            <TableInfo>
              <option name="database" value="netos.absorb.robot" />
              <option name="domainName" value="RecipientsRecord" />
              <option name="tableComment" value="收件人记录流水&#10;派发出去的洇金日志&#10;同一洇取器的同一个收取人可以多次领取洇金，因此会对应多条收取流水" />
              <option name="tableName" value="recipients_record" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.absorb.robot#slice_batch">
          <value>
            <TableInfo>
              <option name="database" value="netos.absorb.robot" />
              <option name="domainName" value="SliceBatch" />
              <option name="tableComment" value="发码批次&#10;只有本批次的所有码片均发完才能再生成下一批次的码片&#10;其批次发码数量及消费情况在qrcode_slice中查" />
              <option name="tableName" value="slice_batch" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.absorb.robot#slice_prop">
          <value>
            <TableInfo>
              <option name="database" value="netos.absorb.robot" />
              <option name="domainName" value="SliceProp" />
              <option name="tableComment" value="码片的属性文本，一般先从模板复制过来，然后由发片人改动" />
              <option name="tableName" value="slice_prop" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.absorb.robot#slice_template">
          <value>
            <TableInfo>
              <option name="database" value="netos.absorb.robot" />
              <option name="domainName" value="SliceTemplate" />
              <option name="tableComment" value="模板显示控件用于渲染属性的二维码" />
              <option name="tableName" value="slice_template" />
            </TableInfo>
          </value>
        </entry>
      </map>
    </option>
  </component>
</project>